.maincard{
    display: flex;
    flex-direction: column;
    width:200px;
    height:250px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    font-family: 'Cairo', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.cover{
    display: block;
    height:80%;
    width: 100%;
}
.coveroverlay{
    position: relative;
    top:-130%;
    left: 0px;
    height: 130%;
    width: 100%;
    z-index: 80;
    border-radius:5px;
    background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1))
}
.cardinfo {
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    color: azure;
    z-index: 90;
}