.maincard{
    display: flex;
    flex-direction: column;
    width:150px;
    height:187px;
    background-color: rgb(15, 15, 15);
    border-radius: 5px;
    font-family: 'Cairo', sans-serif;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    flex-grow: 1;
    border:1px solid rgb(15,15,15); 
    z-index:81;
    cursor:pointer;
}
.cover{
    display: block;
    height:80%;
    width: 100%;
}

.cardinfo {
    display: flex;
    width: 100%;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    color: azure;
    z-index: 90;
}