.hero{
    object-fit: contain;
}
.background-img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.black-overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    background: rgb(2,0,36);
    background: linear-gradient( rgba(0,0,0,1) 0%, rgba(0,0,0,0.6) 50%, rgba(0,0,0,1) 100%);
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Cairo', sans-serif;
}
h1{
    font-size: 58px;
    color: aliceblue;
    font-weight: 500;
}
h2{
    font-size:24px;
    color: aliceblue;
    font-weight: 500;
    
}
.hero-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1.5rem;
}
h3{
    font-size:18px;
    color: aliceblue;
    font-weight: 300;
    
}
.btn-main{
    width: 200px;
    height: 40px;
    color:white ;
    background-color: rgb(14, 65, 12) ;
}
.btn-main:hover{
    background-color: rgb(20, 100, 17);
}
input[type="text"] {
    height: 40px;
    width: 350px;
    outline: none;
    padding-left: 15px;
}