.main-bar {
    position:absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height:100px;
    background-color: transparent;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    align-items: center;
    color: white;
}
.menu {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    font-family: 'Cairo', sans-serif;
}
.signup{
    width: 100px;
    background-color: rgb(14, 65, 12);
    height: 30px;
    text-align: center;
    padding-top: 2px;
    cursor: pointer;
}
.signup:hover{
    background-color: rgb(20, 100, 17);
}
.logo{
    font-size: 24px;
    font-weight: 700;
    cursor: pointer;
}
.login {
    cursor: pointer;
}
.menu-mobile{
    display: none;
    z-index: 102;
}
.hidden-menu{
    position: fixed;
    color: white;
    right: 0%;
    top: 0px;
    width:80%;
    height: 100vh;
    background-color: rgb(24, 24, 24);
    z-index: 101;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    animation-name: slidemenuIn;
    animation-duration: 0.5s;

}

@keyframes slidemenuIn {
    0% {right:-100%}
  100% {right: 0%;}
}
ul {
    margin-left: 20px;
    margin-top: 100px;
    font-size: x-large;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.btn-low {
    position: absolute;
    bottom:10%;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

}
@media only screen and (max-width: 600px) {
    .logo{
        position: absolute;
        left: 5%;
    }
    .menu {
        position: absolute;
        display: none;
    }
    .menu-mobile{
        right: 5%;
        position: absolute;
        display: block;
        
    }
  }
